<style>
  #shopify-section-{{ section.id }} .image-overlay {
    --heading-color: {{ section.settings.image_text_color.red }}, {{ section.settings.image_text_color.green }}, {{ section.settings.image_text_color.blue }};
    --text-color: {{ section.settings.image_text_color.red }}, {{ section.settings.image_text_color.green }}, {{ section.settings.image_text_color.blue }};
    --section-items-alignment: center;
    --section-overlay-color: {{ section.settings.image_overlay_color.red }}, {{ section.settings.image_overlay_color.green }}, {{ section.settings.image_overlay_color.blue }};
    --section-overlay-opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
</style>

<section>
  {%- comment -%}
  ------------------------------------------------------------------------------------------
  TOP PART (IMAGE AND BREADCRUMB)
  ------------------------------------------------------------------------------------------
  {%- endcomment -%}

  {%- capture breadcrumb -%}
    <nav aria-label="{{ 'general.breadcrumb.title' | t }}" class="breadcrumb breadcrumb--floating text--xsmall hidden-phone">
      <ol class="breadcrumb__list" role="list">
        <li class="breadcrumb__item">
          <a class="breadcrumb__link" href="{{ routes.root_url }}">{{ 'general.breadcrumb.home' | t }}</a>
        </li>

        <li class="breadcrumb__item">
          <span class="breadcrumb__link" aria-current="page">
            {%- if collection.handle == 'all' -%}
              {{- 'collection.general.all_products' | t -}}
            {%- else -%}
              {{- collection.title -}}
            {%- endif -%}
          </span>
        </li>
      </ol>
    </nav>
  {%- endcapture -%}

  {%- if collection.image and section.settings.show_collection_image -%}
    <image-with-text-overlay reveal-on-scroll parallax class="image-overlay image-overlay--{{ section.settings.section_height }}" {% if section.settings.section_height == 'auto' %}style="--image-aspect-ratio: {{ collection.image.aspect_ratio }}"{% endif %}>
      <div class="image-overlay__image-wrapper" {% if section.settings.section_height == 'auto' %}style="padding-bottom: {{ 100.0 | divided_by: collection.image.aspect_ratio }}%"{% endif %}>
        {%- comment -%}Performance note: this image must not be lazyloaded as it contributes to the LCP{%- endcomment -%}
        <picture>
          {%- if section.settings.section_height != 'auto' -%}
            {{- collection.image | image_url: width: collection.image.width, height: 600, crop: 'center' | image_tag: widths: '400,500,600,700,800,900,1000', media: '(max-width: 740px)' | replace: '<img', '<source' -}}
          {%- else -%}
            {{- collection.image | image_url: width: collection.image.width | image_tag: widths: '400,500,600,700,800,900,1000', media: '(max-width: 740px)' | replace: '<img', '<source' -}}
          {%- endif -%}

          {{- collection.image | image_url: width: collection.image.width | image_tag: widths: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600', class: 'image-overlay__image', reveal: true -}}
        </picture>
      </div>

      <div class="container">
        <div class="image-overlay__content-wrapper">
          {{- breadcrumb -}}

          <div class="image-overlay__content content-box content-box--{{ section.settings.text_width }} content-box--text-center content-box--center text-container">
            {%- if section.settings.show_collection_title -%}
              <h1 class="heading h1">
                <split-lines reveal>{{ collection.title }}</split-lines>
              </h1>
            {%- endif -%}

            {%- if section.settings.show_collection_description and collection.description != blank -%}
              <div class="image-overlay__text-container" reveal>
                {{- collection.description -}}
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </image-with-text-overlay>
  {%- else -%}
    <div class="container">
      <div class="page-header">
        {{- breadcrumb -}}

        <div class="page-header__text-wrapper text-container">
          {%- if section.settings.show_collection_title -%}
            <h1 class="heading h1">{{ collection.title }}  <span class="ban_head_icon"> {%- render 'icon' with 'vibr_icon'-%} </span> </h1>  
          {%- endif -%}

          {%- if section.settings.show_collection_description and collection.description != blank -%}
            <div class="cstm_collection_descp">
             <p>  <span class="descp">{{- collection.description -}}</span> <span id="readMoreBtn">Read More</span>   </p> 
              
              
            </div>
              
          {%- endif -%}
        </div>
      </div>
    </div>
  {%- endif -%}

  {%- comment -%}
  ------------------------------------------------------------------------------------------
  QUICK LINKS PART
  ------------------------------------------------------------------------------------------
  {%- endcomment -%}

  {% assign collection_data = collection.metafields.custom.menu_handle | parse_json %}


  {{ collection_data.text}}

  {%- assign quick_links_menu = section.settings.quick_links -%}

  {%- if quick_links_menu.links.size > 0 -%}
    <link-bar class="link-bar">
      <div class="container">
        <div class="link-bar__wrapper">
          <span class="link-bar__title heading heading--small text--subdued">{{ quick_links_menu.title }}</span>

          <div class="link-bar__scroller hide-scrollbar">
            <ul class="link-bar__linklist list--unstyled" role="list">
              {%- for link in quick_links_menu.links -%}
                <li class="link-bar__link-item {% if link.active %}link-bar__link-item--selected{% endif %}">
                  <a href="{{ link.url }}" class="link-bar__link link--animated {% if link.active %}text--underlined{% endif %}">{{ link.title }}</a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      </div>
    </link-bar>
  {%- endif -%}
</section>


  
<div class="cstm_collection_nav_item">
  {% if collection.title == 'Vibrators' or collection.title == 'Dildos' or collection.title == 'BDSM' or collection.title == 'Health' or collection.title == 'Gender'  or collection.title == 'ACCESSORIES'   %} 
<div class="cstm_collection_nav_item_container container">
<ul>
  <div class="cstm_collection_title23">
    <a href="" data-collection-handle="{{ sublink.url }}"> All</a>
  </div>
{% for link in linklists.main-menu.links %}

 {% if link.title == collection.title %} 

  
  
      {% if link.links.size > 0 %}
          {% for sublink in link.links %}
              {% comment %}
              <a href="{{ sublink.url }}">{{ sublink.title }}</a>
               {% endcomment %}
             
                   {% for sublink in sublink.links %}
                   
                     <div class="cstm_collection_title23">
                       <a href="{{ sublink.url }} " class="tag-link cstm_banner_tags" >{{ sublink.title }}</a>
                     </div>
                   {% endfor %}
          {% endfor %}
      {% endif %}

       
     {% endif %} 

 
    
  {% endfor %}



     {% elsif collection.title != 'Vibrators' or collection.title != 'Dildos' %} 
    {% assign all_tags = "" %}
<div class="cstm_collection_nav_item_container container">
  <ul>
     <div class="cstm_collection_title23 ">
    <a href="" data-collection-handle="{{ sublink.url }}"> All</a>
  </div>
    {% for product in collection.products %}
      {% for tag in product.tags %}
        {% unless all_tags contains tag %}
          {% capture all_tags %}{{ all_tags }},{{ tag }}{% endcapture %}
        {% endunless %}
      {% endfor %}
    {% endfor %}

    {% assign tags_array = all_tags  | split: ',' | uniq %}


    {% for tag in tags_array %}
        
        
      <div class="cstm_collection_title23 ">
        
        <a href="{{ collection.url }}?constraint={{ tag | replace: ' ', '-' }}" class="tag-link cstm_banner_tags">{{ tag }}</a>
      </div>
    {% endfor %}
  </ul>
</div>

 

<!-- ------------------------------------   -->





  

  <!--  ----------------------------------------    -->

  
{% comment %}

     {% if link.title != collection.title %}
  
  <ul>
    {% assign all_tags = "" %}

    {% for product in collection.products %}
      {% for tag in product.tags %}
        {% unless all_tags contains tag %}
          {% capture all_tags %}{{ all_tags }},{{ tag }}{% endcapture %}
        {% endunless %}
      {% endfor %}
    {% endfor %}

    {% assign tags_array = all_tags | split: ',' | uniq %}
    
    {% for tag in tags_array %}
      <li>{{ tag }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  
{% endcomment %}

  
  
  </ul>
 </div>   
{% endif %}

  
</div>

{% comment %}

<h1>Hello ....</h1>
{%  if collection.tags.size > 0 %}


<ul class="collection-tags">
      {% for tag in collection.tags %}
       <li><a href="{{ collection.url | append: '?tag=' | append: tag }}">{{ tag }}</a></li>
      {% endfor %}
</ul>
    {% else %}
  <p>No tags available for this collection.</p>
    
 

  
  {% endif %}
{% endcomment %}

<script>
//  document.querySelectorAll('.cstm_collection_title a').forEach(link => {
  

//   link.addEventListener('click', function(event) {
//     event.preventDefault(); // Prevent default behavior of navigating to the collection page


//         const  productCount = document.querySelector('.product-facet__meta-bar .product-facet__meta-bar-item--count')  
//         const cstmPagination = document.querySelector('.pagination')
//         const showProd = document.querySelector('.product-list')

//         cstmPagination.style.display = 'none'
//         showProd.classList.remove("showing_sel_coll")
//          if(true){
//            showProd.classList.add("showing_sel_coll")
//          }
      
    
//     const collectionHandle = this.dataset.collectionHandle; // Get the collection handle from the data attribute
    

//     // Fetch only the products from the collection using Shopify's AJAX API
//     fetch(`${collectionHandle}/products.json`)
//       .then(response => response.json())
//       .then(data => {
       
        
//         // Assuming you have a container to display the products
//         const productList = document.querySelector('.product-list');
       
//         productList.innerHTML = ''; // Clear the current product list
//         // Loop through products and render them
//         // console.log("888888888 :- ",data.products )
//         data.products.forEach((product,index) => {

//           // console.log("99999999 :- ", product)
//            productCount.innerText = `${data.products.length} products`
          
//         // console.log("Product main :- ",product)

         
//           const img =  product.images.map(item => item)
         
//           let showimg = product.images.length > 0 ? img[0].src : 'path/to/null-image.png'; 
//           const price =  product.variants.map(item=> item)
          
//           const productItem =   `
//                  <div class="insideProductListItem" >
//           <a href="/products/${product.handle}"> <div class="img"><img src="${showimg}" alt="${product.title}" /> </div>  <h3>${product.title} </h3> <div class="price"> $ ${price[0].price} </div> </a>
          
//           </div>`;      
//           productList.innerHTML += productItem;
//         });
//       })
//       .catch(error => console.log('Error:', error));

        
//   });
// });
</script>


<!--  Add Active Class -->

<script>
  const collActive = document.querySelectorAll('.cstm_collection_title23 a')
  
  let url = new URL(window.location.href);

  const constr = url.search

  var match = constr.match(/[\?&]constraint=([^&]+)/)
  var constraintValue = match ? match[1] : null;
  console.log("URL :- ",constraintValue)

  
  collActive.forEach((item , index ) =>{
    
    const menus = item.innerText
    const modifiedMenus = menus.replace(/ /g, '-');

    console.log("ME Collactive :- ", modifiedMenus)

    if( constraintValue == modifiedMenus ){
      console.log('++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++')
      item.classList.add("active_colect")
    }
   
   
    
  })
  
</script>



<script>
  const coll_descp = document.querySelector('.cstm_collection_descp p .descp');
  const readMoreBtn = document.getElementById('readMoreBtn');
  
  const fullText = coll_descp.innerText;
  const splitText = coll_descp.innerText.split(' ');
  const trunctedText = splitText.slice(0, 50).join(' ') ;

  coll_descp.innerText = trunctedText

  readMoreBtn.addEventListener('click', function() {
  coll_descp.innerText = fullText;
  readMoreBtn.style.visibility = 'hidden'; 

    
  const showLessBtn =  document.createElement('span');
    showLessBtn.innerText = 'Show Less'
    showLessBtn.classList.add('show_less_btn')
     coll_descp.appendChild(showLessBtn)   

     showLessBtn.addEventListener('click', function() {
    console.log("Show Less Btn...")
  coll_descp.innerText = trunctedText; 
  readMoreBtn.style.visibility = 'visible';
  showLessBtn.style.display = 'none'; 
}); 
});

// const showLessBtn = document.querySelector('.show_less_btn');
// console.log("555555 555 ",showLessBtn)  
const showLessBtn = document.querySelectorAll('.cstm_collection_title');
  
  showLessBtn.forEach((item,index) => {
    item.addEventListener('click' , (itm) => {
      console.log('Iteam :- ', itm)
    })
  })
  
</script>
{% schema %}
{
  "name": "Collection banner",
  "class": "shopify-section--collection-banner",
  "settings": [
    {
      "type": "paragraph",
      "content": "To change collection descriptions or collection images, [edit your collections](/admin/collections)."
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "Show collection image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_title",
      "label": "Show collection title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "label": "Show collection description",
      "default": true
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "Image height",
      "options": [
        {
          "value": "auto",
          "label": "Original image ratio"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "info": "Choose \"Original image ratio\" to not cut images. [Learn more](https://help.shopify.com/en/manual/online-store/images/theme-images#best-practices-for-slideshows-and-full-width-images)",
      "default": "small"
    },
    {
      "type": "select",
      "id": "text_width",
      "label": "Text width",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "fill",
          "label": "Fill screen"
        }
      ],
      "default": "medium"
    },
    {
      "type": "header",
      "content": "Color",
      "info": "Only applicable when collection image is used."
    },
    {
      "type": "color",
      "id": "image_text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "image_overlay_color",
      "label": "Overlay",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "label": "Overlay opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 30
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "quick_links",
      "label": "Quick links",
      "info": "This menu won't show dropdown items."
    }
  ]
}
{% endschema %}