<div class="how_to_use_section_container">

  <div class="section_how_to_use_content">
      <div class="content-section-container-custom">

        <div class="how_section_heading">
          {% if section.settings.heading != blank %}
           <h2>{{ section.settings.heading }}</h2>
            {% endif %}
        </div>

     <div class="how_section_item_container">
       <div class="how_section_item_content" {% if section.settings.image_right  %} style="flex-direction: row-reverse;" {% endif %}>
          <div class="section_image">
            {% if section.settings.image != blank %}
            <img src="{{ section.settings.image | img_url: '4000x' }}" alt="{{ block.settings.heading }}">
              {% endif %}
          </div>
         <div class="section_content">
            <div class="content">
              {% if section.settings.text_content != blank %}
              {{ section.settings.text_content }}
              {% endif %}
            </div>
           <div class="we_recommend">
              <div class="how_to_use_product_recom">

                  <div class="content_product_cont">
        {% if section.settings.recom_head  != blank %}
        <div class="content_product_heading">
        <h3>{{ section.settings.recom_head }}</h3>  
          
        </div>
    {% endif %}

        {% if section.settings.selectedProducts != blank %}
        <div class="content_product_List">
          {% assign selectedProduct = section.settings.selectedProducts %}
        
           {% for product in selectedProduct  %}

              <div class="product_item">  
                <div class="prod_img">
                {% if product.images.size > 0 %}
               <img src="{{ product.images.first | img_url: 'medium' }}" alt="{{ product.title }}">
               {% endif %}
                  </div>
                <div class="product_tile_price">
                 <div class="prod_title">
                    <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
                 </div>
                <div class="prodt_price">
                  <p>{{ product.price | money }}</p>
                </div>
                </div>
              </div>
            
            {% endfor %}
        </div>
        {% endif %}
      </div>
                
              </div>
           </div>
          </div>
       </div>
       
     </div>   
        
        
      </div>    
  </div>
  
</div>



<style>
.how_to_use_section_container {  margin-bottom: 50px;}
  
.how_section_item_container .section_image img { max-width: 100%;}
.how_section_item_content .section_content  .content p {  font-size: 16px;}
.content-section-container-custom .how_section_heading {  padding-bottom: 10px;}
.how_to_use_section_container .how_section_heading  h2 {  font-family: Lausanne !important;}
.how_section_item_content {   display: flex;  justify-content: center; align-items: flex-start;  gap: 30px;    border-top: 1px solid; }
.content-section-container-custom {  width: 55%;   margin: 0 auto; }
.how_section_item_content .section_image , .how_section_item_content .section_content{ width: 50%; }
.how_section_item_content .section_content { padding-top: 30px; }

.section_how_to_use_content .content_product_List {
    display: flex;
    gap: 18px;
}
.how_section_item_content .content_product_cont .product_item .prod_img img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}
.how_section_item_content .content_product_cont .product_item .prod_img {   background: #ffffff; }
.how_section_item_content .content_product_heading h3 {    font-family: 'Lausanne' !important; }
.how_section_item_content .content_product_heading {  padding-bottom: 12px;}
.how_section_item_content .content_product_cont {  margin-top: 30px;}
.how_to_use_product_recom .product_item .prod_title h3 {   font-size: 14px;}
  
</style>

{% schema %}
 
{
  "name": "How to use section",
  "settings": [
     {
        "type": "text",
        "id":"heading",
        "label": "Heading"
      },
     {
        "type": "image_picker",
        "id":"image",
        "label": "Image"
      },
    {
    "type": "checkbox",
      "id": "image_right",
      "label": "Image to right",
      "default" : false
    },
    
    {
      "type": "richtext",
      "id": "text_content",
      "label": "Text Content"
    },
    {
      "type": "header",
      "content": "RECOMMEND CONTENT"
    },
    {
      "type": "text",
      "id": "recom_head",
      "label": "Recommend Heading"
    },
    {
            "type": "product_list",
            "id": "selectedProducts",
            "label": "Select Products"
    }
      
  ],
 
  "presets": [
    {
      "name": "How to use section",
      
    }
  ]
}
{% endschema %}