<div class="simple_ImgText_Cont">
  <div class="container">
<div class="Img_TextCont_part2" style="{% if section.settings.img_right == true %}flex-direction:row-reverse; {% endif %}">

 
  <div class="simpleImgTextImg_part2">
     {% if section.settings.img != blank %}
       <a href="{{ section.settings.btnUrl }}">
    <img src="{{ section.settings.img | img_url:"original" }}"  alt="banner_img"/>
          </a>
       {% endif %}
  </div>
    
  <div class="simpleImgTextTest">
    <div class="simpleImgTextTest_content" >
    {% if section.settings.heading != blank %}
    <h2 class="simpleImgTexth2">{{ section.settings.heading }}</h2>
      {% endif %}
    {% if section.settings.text != blank %}
    <div class="simpleImgTextp">{{ section.settings.text }}</div>
      {% endif %}
    <div class="cont_btn">
      {% if section.settings.btnText != blank %}
        
      <a href="{{ section.settings.btnUrl }}" class="btn">{{ section.settings.btnText }} </a>
      
      {% endif %}
        {% if section.settings.btnText2 != blank %}
          
      <a href="{{ section.settings.btnUrl2 }}" class="btn btn2">{{ section.settings.btnText2 }} </a>
           
      {% endif %}
    </div>
    </div>
  </div>
    
</div>

  </div>
</div>



{% schema %}
  {
    "name": "Image_Text_Container",
    "settings": [
      {
        "type":"image_picker",
        "id":"img",
        "label":"Image"
      },
      {
        "type":"text",
        "id":"heading",
        "label":"Heading"
      },
      {
        "type":"richtext",
        "id":"text",
        "label":"Text"
      },
       {
        "type":"text",
        "id":"btnText",
        "label":"Button Text"
      },
      {
        "type":"text",
        "id":"btnText2",
        "label":"Button Text 2"
      },
      {
        "type":"url",
        "id":"btnUrl",
        "label":"Button Url"
      },  
      {
        "type":"url",
        "id":"btnUrl2",
        "label":"Button Url 2"
      },
        {
        "type":"checkbox",
        "id":"img_right",
        "label":"Image to Right",
        "default":false
      }
    ],
    "presets": [
      {
        "name":"Simple Image_Text Container", 
      }
    ]
  }
{% endschema %}